@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');*/
body{
    background: #ffffff;
    overflow-x: hidden;
}
header{
    background: rgba(255, 255, 255, 0.95);
}

body, header, html{
    font-family: 'Open Sans', sans-serif;
    color: #676868;
}
.slick-slide {
    outline: none;
}
button{
    box-shadow: 0 1px 5px rgba(0,0,0,.18), 0 1px 5px rgba(0,0,0,.18)!important;
}
header, footer{
    height: auto;
}

header{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
}
.content{
    margin-top: 80px;
}
footer{
    margin-top: 0;
    background-color: #aad174;
}

 header>div.container a, form, #holder>div >*{
    color: #676868;
    background: rgba(255, 255, 255, 0.95);
    margin-right: 15px;
}

a{
    text-decoration: none;
}
header a:active{
    border: none;
    background-color: #ffffff!important;
    outline-color: #ffffff;
}
header .row{
    align-items: center;
}
#booking h2, #booking p{
    color: #ffffff;
}

.font-light{
    font-weight: 100;
}

.t-center{
    text-align: center;
}

.w-100{
    width: 100%;
}
.w-80{
    width: 80%;
}

.padding-left-0{
    padding-left: 0;
}

.green{
    background-color: #aad174;
    color: #999;
}
.green.text-black{
    color: #676868;
}
.btn{
    color:#aad174 !important;
    background:#ffffff;
    border: 2px solid #aad174;
    font-size: 22px;
}
.btn:hover{
    color: #ffffff !important;
    background: #aad174 !important;
}
.btn[name="submit"]:before{
    content: url(../images/send.png);
}

.bordered.bd-bot{
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
}
.bg.bg-testimonial{
    background-size: contain; 
}
.bg.bg-testimonial, .bg.bg-testimonial h3{
    color: #ffffff;
}
.bg.bg-testimonial .slick-dots button{
    box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.3);
}
.bg.bg-testimonial button.slick-arrow{
    box-shadow: none;
}
.bg.bg-testimonial{
    height: 490px;
}
.bg.bg-testimonial p{
    font-size: 1.2em;
    line-height: 1.3!important;
}
/*.bg.bg-testimonial p:first-child{
    font-weight: 600;
}*/
.bg.bg-testimonial p:last-child{
    font-family: 'Open Sans Condensed', sans-serif !important;    
    margin-top: 10px;
}
.section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.align-end{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.legend{
    padding: 5px;
    width: 150px;
    margin-bottom: 5px;
}
.legend.light-green{
    background-color: #aad174;
}
.legend.green{
    background-color: #59B548;
    color: #d7e4d1;
}
.legend.yellow{
    background-color: #F3CA18;
}
.bg{
    background-position: center center;
    background-size: cover; 
    background-repeat: no-repeat;
}

.bg.bg-contain{
    background-size: contain; 
}

.bg-gray, .bg-gray *{
    background-color: #ededed;
}

.tgap-l{
    padding-top: 20px;
}

.bgap-l{
    padding-bottom: 20px;
}

table.border-none td, table.border-none th, table.border-none, .border-none{
    border: none;
}
.margin-top-l{
    margin-top: 20px;
}

table.margin-none{
    margin: 0;
}
table.preset th{
    background: #415F2D;
    color: #B8C5B2;
    font-weight: 300;
}
table.preset td{
    background: #A9D075;
}
table.preset td:nth-child(2n){
    background: #F3CA18;
}
table.preset td.green{
    background: #59B548;
    color: #d7e4d1;
}
.slick-prev{
    left: 50px;
    z-index: 999;
    box-shadow: none;
}
.slick-next{
    right: 500px;
    z-index: 999;
    box-shadow: none;
}
.info{
    font-size: 3.5rem;
}
.info h2{
   color: #85b14d;
}
.info p{
    color: #b02840;
    font-size: 0.6em;
}
.info p:first-of-type{
    margin-top: -45px;
}
.center{
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.relative{
    position: relative;
}
.bg-testimonial.center{
     flex-direction: column;
}
header>div.container a:hover{
    background: none;
    color: #676868;
}

h1, h2, h3, h4, h5, .italianno{
    font-family: 'Italianno', cursive!important;
    color: #676868;
    line-height: 1;
}

h2.sub-heading{
    font-size: 2.3em;
}

h2 {
    font-size: 4.7em;
}
h3{
    font-size: 4em;    
}
h3.sub-heading{
    font-size: 3.4em;    
}
h4 {
    font-size: 2.5em;
}
.mainBanner{
    height:950px;
}
 table.contact-info td img{
        width:32px
}
/* Top bar*/
.topnav {
  overflow: hidden;
}

#myTopnav{
    padding-top: 10px;
    padding-bottom: 10px;
}

.topnav .drawer{
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
   text-align: right;
}
.hamburger{
    width: 40px;
    cursor: pointer;
}
#holder{
    background: rgba(255, 255, 255, 0.95);
}
#holder > div{
    background: rgba(255, 255, 255, 0.95);
    margin-bottom: 10px; 
    z-index: 1001;
}
/*#holder > div:first-child{
    margin-bottom: 15px
}*/
/*#holder > div{
    border-bottom: 1px solid #d1d1d1;
}*/
#sidemenu{
    width:100%;
    height:150px;
    background: rgba(255, 255, 255, 0.95);
    /*position: fixed;*/
    /*top: -1000px;*/
    /*top: 0;*/
    z-index: 1000;
    /*box-shadow:  -2px 0 5px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.3);   */
    /*padding: 15px;*/
    text-align: right;
}
#sidemenu a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

.trainer>p:last-of-type{
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}
table.contact-info td{
    background: #ffffff; 
}
table.contact-info td:first-child{
    width: 25px;
}
.trainer{
    height: 450px;
    display: flex;
    flex-direction: column
}
.trainer>h2{
    color: #b9cd33
}
.trainer:not(:last-child){
    border-bottom: 2px solid #b9cd33;
}
.trainer>p{
 color: #b02840 !important;
}
.trainer img{
    max-height: 300px;
    width: auto;
}
#trainers .col-sm-12{
    padding-left: 0;
    padding-right: 0;
}
#trainers .col-sm-12:not(:last-child){
    border-right: 2px solid #b9cd33;
}
.mainBanner .info{
    text-align: center;
}
 
@media (min-width: 535px){
    .bg{
        background-size: cover;
    }
    .bg-bldg{
        height: 175px;
    }
    #booking{
        height: 300px;
    }
    .bg-venue{
        background-size: cover;
    }
}

@media (max-width: 534px){
    .mainBanner .info {
        margin-top: 30px;
    }
    .mainBanner.bg {
        height: 330px!important;
         background-size: contain;
    }
    .bg.bg-testimonial p{
        font-size: 1.1em;
        line-height: 1.3!important;
    }
    
    .bg-bldg{
        height: 160px;
    }
    .bg-venue{
        height: 300px;
    }
    .bg.bg-testimonial{
        height: 824px;
    }
    .mainBanner{
        height:450px!important;
        background-size: cover;
    }
}
@media (max-width: 334px){
    .info{
        font-size: 1.1rem;
    }
     .bg-today .info{
        padding-top: 0px;
    }
    .info h2{
        margin-bottom: 5px;
    }
}
@media (min-width: 648px){
    .bg-bldg{   
        height: 205px;
    }
   
}
@media  (max-width: 775px){
    .bg-today .info{
        padding-top: 40px;
    }
    .mob-tgap-l:not(:first-child){
        margin-top: 40px;
    }
}
@media (min-width: 546px) and (max-width: 775px){
    .bg-venue{
        background-size: cover!important;
    }
}
@media (max-width: 767px) {
    /*.bg.bg-testimonial p:not(:last-child){
        font-weight: 600;
        background: rgba(133, 178, 77, 0.52)!important;
    }*/
    .t1{
        background-image: url(../images/mob_1.jpg)!important;
    }
    .t2{
        background-image: url(../images/mob_2.jpg)!important;
    }
    .t3{
        background-image: url(../images/mob_3.jpg)!important;
    }
    .t4{
        background-image: url(../images/mob_4.jpg)!important;
    }
    .t5{
        background-image: url(../images/mob_5.jpg)!important;
    }
    .t6{
        background-image: url(../images/mob_6.jpg)!important;
    }
    .t7{
        background-image: url(../images/mob_7.jpg)!important;
    }
    .t8{
        background-image: url(../images/mob_8.jpg)!important;
    }
     .t9{
        background-image: url(../images/mob_9.jpg)!important;
    }
    .t10{
        background-image: url(../images/mob_10.jpg)!important;
    }
    .t11{
        background-image: url(../images/mob_11.jpg)!important;
    }
    .bg.bg-testimonial {
         background-size: contain;
    }
    .info p:first-of-type{
        margin-top: -25px;
    }
     .info p{
        font-size: 0.8em!important;
    }
    .info{
        font-size: 1.7rem!important;
    }
     table.contact-info tr {
         border: none; 
         box-shadow: none; 
    }
    table.contact-info td{
         text-align: left;
         padding-bottom: 0;
    }
     table.contact-info td img{
         width:20px
    }
     .bg-bldg{
        height:465px;
    }
    .bg.bg-class{
        height:110px;
        background-size: cover;
    }
    .trainer {
        height: 355px;
        display: flex;
        flex-direction: column;
    }
    .trainer img {
        max-height: 250px;
        width: auto;
    }
    .section{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h2{
        font-size: 4em;
        margin-bottom: 0;
    }
     .desktop-only{
     display: none;   
    }
    .hideonmobile, .bg.bg-testimonial button.slick-arrow{
        display: none!important;
    }
    *, html {
        font-size: 14px;
    }
    /*.bg{
        background-size: contain;
    }*/
    .slider-parent{
      padding-left: 0;
      padding-right: 0;
    }
    .bg-venue{
        height: 255px;
    }
    .bg-bldg, .bg-class{
        height: 155px;        
    }
    div.preset{
        overflow: auto;
        max-width: 100%;
    }
    .trainer{
        border-bottom: 2px solid #b9cd33;
    }
    #trainers .col-sm-12{
        border-right: none!important;
    }
    #booking{
        height: 300px;
    }
    .info{
        font-size: 1.2rem;
    }
    .mainBanner{
        height:460px!important;
    }
    .bg.center{
        align-items: flex-start;
        margin-top: 20px;
    }
    .bg.bg-testimonial{
        align-items: center;
        margin-top: 0;
        padding-top: 15px;
    }
     .bg-bldg{
        height: 220px;
        background-size: contain!important;
    }
    .bg-venue{
        background-size: contain;
    }
}

@media (min-width: 768px){
    .t4{
        background-size: cover!important
    }
     .bg-bldg {
        background-size: cover!important;
        height: 235px;
    }
    .bg.bg-class{
        height:310px;
    }
   
    #booking{
        height: 550px;
        padding-top: 60px;
        margin-bottom: 10px;
        /*background-size: contain;*/
    }
    
    .mobile-only{display: none;}
     .desktop-only{
        display: none;
    }
    #logo{
        height: 80px;
    }
    .bg{
       background-size: cover;
    }
    .info {
        font-size: 3.1rem;
    }
    .bg-venue{
        background-size: contain;
        height: 400px;
    }
     .bg.center{
        align-items: flex-start;
        margin-top: 40px;
    }
    .mainBanner{
        /*background-size: contain!important;*/
    }
}
@media (min-width: 846px){
    .bg-venue {
        background-size: cover;
    }
}
@media (min-width: 872px){
    .bg-bldg {
        height: 260px;
    }
}
@media (max-width: 1280px){
    .bg.bg-testimonial{
        background-color: #85b24d;
    }
}
@media only screen and (min-width: 981px){
    .info p{
        color: #b02840;
        font-size: 0.8em
    }
     .mainBanner, .main.slick-slider{
        background-size: cover!important;
    }
     .bg-bldg{
         background-size: contain!important;
        height:465px;
    }
   .bg-venue{
        background-size: contain;
        height: 700px;
    }
    #logo {
        /*max-height: 88%;*/
        width: 100px;
    }
    header{
        height: auto;
    }
    header>div.container{
        padding-right: 30px;
        padding-left: 30px;
    }
    .hide-desktop{
        display: none;
    }
     .desktop-only{
     display: block;   
    }
    #booking{
        /*background-size: cover;*/
        height: 700px;
        padding-top: 90px;
    }
    .bg-venue{
        background-size: contain;
    }
}
@media(min-width: 1470px){
    .bg-venue {
        background-size: cover;
    }
}
@media (max-width:565px){
    .mainBanner{
        height:270px!important;
    }
}
@media(min-width: 1267px){
    .mainBanner {
        height: 850px;
    }
    .bg.bg-testimonial {
        height: 450px;
         background-size: cover;
    }
}
@media(min-width: 1095px) and (max-width:1272px){
    .mainBanner {
        height: 750px;
    }
}
@media(min-width: 760px) and (max-width:1094px){
    .mainBanner {
        height: 550px;
    }
    .bg.bg-testimonial {
        height: 600px;
    }
    #booking {
        height: 480px;
    }
}
@media (min-width: 552px) and (max-width:691px){
    .mainBanner {
        height:380px!important;
    }
}
@media(min-width: 1425px){
    .bg.bg-testimonial {
        height: 440px;
         background-size: cover;
    }
}

@media (min-width:240px) and (max-width: 1190px){
    .bg.bg-today {
        background-size: contain!important;
    }
}
@media (min-width:688px) and (max-width: 764px){
    .bg.bg-today {
        background-size: cover!important;
        height: 330px!important;
    }
}
@media (min-width:1272px) and (max-width: 764px){
    .bg.bg-today {
           height: 555px!important;
    }
}
@media (min-width:1202px) and (max-width: 1296px){
    .bg.bg-today {
           height: 480px!important;
    }
}
@media (min-width:1202px) and (max-width: 1600px){
    .bg.bg-today {
           height: 570px!important;
    }
}
/* Hover effect */
.trainer:hover > h2, .trainer:hover > p:not(.text){
    opacity:0.6;
}
.trainer{
    position: relative;
}
.trainer .text {
     color: #b02840 ;
    opacity:0;
    transition:all 0.5s linear;
    position:absolute;
    top:30%;
    left:0px;
    visibility:hidden;
    background: rgba(209, 209, 209, 0.29);
    height:250px;
    overflow: auto;
    padding: 5px;
    width: 95%;
}

.trainer:hover .text {
    opacity:1;
    visibility:visible;
}
