@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');*/
body{
    background: #ffffff;
    overflow-x: hidden;
}
header{
    background: rgba(255, 255, 255, 0.95);
    padding-top: 10px;
}
#testimonials{
    padding-left: 0;
    padding-right: 0;
}
body, header, html{
    font-family: 'Open Sans', sans-serif;
    color: #676868;
}
.slick-slide {
    outline: none;
}
button{
    box-shadow: 0 1px 5px rgba(0,0,0,.18), 0 1px 5px rgba(0,0,0,.18)!important;
}
header, footer{
    height: auto;
}

header{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
}
.content{
    margin-top: 80px;
}
footer{
    margin-top: 0;
    background-color: #aad174;
}

 header>div.container a, form, #holder>div >*{
    color: #676868;
    background: none!important;
    margin-right: 15px;
}

a{
    text-decoration: none;
}
header a:active{
    border: none;
    background-color: #ffffff!important;
    outline-color: #ffffff;
}
header .row{
    align-items: center;
}
#booking h2, #booking p{
    color: #ffffff;
}


.t-center{
    text-align: center;
}
.t-left{
    text-align: left;
}

.w-100{
    width: 100%;
}
.w-80{
    width: 80%;
}

.padding-left-0{
    padding-left: 0;
}

.green{
    background-color: #aad174;
    color: #999;
}
.green.text-black{
    color: #676868;
}
.green.text-white{
    color: #ffffff;
}
.btn{
    color:#aad174 !important;
    background:#ffffff;
    border: 2px solid #aad174;
    font-size: 22px;
}
.btn:hover{
    color: #ffffff !important;
    background: #aad174 !important;
}
.btn[name="submit"]:before{
    content: url(../images/send.png);
}

.bordered.bd-bot{
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
}
.testimonial .row{
    /*justify-content: center;*/
    justify-content: space-between;
    align-items: center;
}
.testimonial .row[class*=col-sm-]>*:last-child, .testimonial [class^=col-sm-]:last-child,.bg-testimonial [class^=col-sm-offset-]:last-child{
    padding-right: 0;
      display: flex;
    justify-content: flex-end;
}
.testimonial img{
    vertical-align: bottom;
    max-height: 350px;
}
.testimonial .t4 + div img{
    max-height: 350px;
}
.bg.bg-testimonial{
    background-size: contain!important; 
    height: 345px;
}
.bg.bg-testimonial, .bg.bg-testimonial h3{
    color: #ffffff;
}
.bg.bg-testimonial .slick-dots button{
    box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.3);
}
.slick-dots li button {
    background: rgba(189,189,189,.8);
}
.slick-dots li.slick-active button {
    background: #fff;
}
.bg.bg-testimonial button.slick-arrow{
    box-shadow: none;
}
.bg.bg-testimonial, .testimonial-parent.slick-slider, .testimonial-parent.slick-slider .row{
    /*height: 490px;*/
}
.bg.bg-testimonial p{
    line-height: 1.3!important;
}
.bg.bg-testimonial .description{
     font-size: 1.1em;
}
.bg.bg-testimonial p:last-child{
    margin-top: 10px;
}
.section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.align-end{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.legend{
    padding: 5px;
    width: 150px;
    margin-bottom: 5px;
}
.legend.light-green{
    background-color: #aad174;
}
.legend.green{
    background-color: #59B548;
    color: #d7e4d1;
}
.legend.yellow{
    background-color: #F3CA18;
}
.bg{
    background-position: center center;
    background-size: cover; 
    background-repeat: no-repeat;
}

.bg.bg-contain{
    background-size: contain; 
}

.bg-gray, .bg-gray *{
    background-color: #ededed;
}
.mtop-0{
        margin-top: 0;
}
.tgap-l{
    padding-top: 100px;
}

.bgap-l{
    padding-bottom: 100px;
}

table.border-none td, table.border-none th, table.border-none, .border-none{
    border: none;
}
.margin-top-l{
    margin-top: 20px;
}

table.margin-none{
    margin: 0;
}
table.preset th{
    background: #415F2D;
    color: #B8C5B2;
    font-weight: 300;
}
table.preset td{
    background: #A9D075;
}
table.preset td:nth-child(2n){
    background: #F3CA18;
}
table.preset td.green{
    background: #59B548;
    color: #d7e4d1;
}
.slick-prev{
    left: 50px;
    z-index: 999;
    box-shadow: none;
}
.slick-next{
    right: 500px;
    z-index: 999;
    box-shadow: none;
}
.info{
    font-size: 2rem;
}
.info h2{
   color: #85b14d;
}
.info p{
    color: #b02840;
    font-size: 0.6em;
}
.justify-center{
    justify-content: center;
}
.center{
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.relative{
    position: relative;
}
.bg-testimonial.center{
     flex-direction: column;
}
header>div.container a:hover{
    background: none;
    color: #676868;
}

h1, h2, h3, h4, h5, .italianno{
    font-family: 'Italianno', cursive!important;
    color: #676868;
    line-height: 1;
}

h2.sub-heading{
    font-size: 2.3em;
}

h2 {
    font-size: 4.7em;
}
h3{
    font-size: 4em;    
}
h3.sub-heading{
    font-size: 3.4em;    
}
h4 {
    font-size: 2.5em;
}
.mainBanner{
    height:950px;
}
 table.contact-info td img{
        width:32px
}
.slick-dots {
    bottom: -5px;
}
/* Top bar*/
.topnav {
  overflow: hidden;
}

#myTopnav{
    padding-top: 10px;
    padding-bottom: 10px;
}

.topnav .drawer{
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
   text-align: right;
}
.hamburger{
    width: 40px;
    cursor: pointer;
}
#holder{
    background: none;
}
#holder > div{
    background: none;
    margin-bottom: 10px; 
    z-index: 1001;
}
#sidemenu{
    width:100%;
    z-index: 1000;
    text-align: right;
}
#sidemenu a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

.trainer>p:last-of-type{
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}
.bg.bg-testimonial .description{
    overflow: hidden;
}
.bg.bg-testimonial .description:hover { overflow-y:auto; }
table.contact-info td, table.contact-info tr{
    background: #ffffff; 
}
table.contact-info td:first-child{
    width: 25px;
}
.slick-slider {
    margin-bottom: 0px;
}
.trainer{
    height: 450px;
    display: flex;
    flex-direction: column
}
.trainer>h2{
    color: #b9cd33
}
.trainer:not(:last-child){
    border-bottom: 2px solid #b9cd33;
}
.trainer>p{
 color: #b02840 !important;
}
.trainer img{
    max-height: 300px;
    width: auto;
}
#trainers .col-sm-12{
    padding-left: 0;
    padding-right: 0;
}
#trainers .col-sm-12:not(:last-child){
    border-right: 2px solid #b9cd33;
}
.mainBanner .info{
    text-align: center;
}

@media (min-width: 535px){
    .bg{
        background-size: cover;
    }
    .bg-bldg{
        height: 175px;
    }
    #booking{
        height: 300px;
    }
    .bg-venue{
        background-size: cover;
    }
}
@media  (min-width: 401px) and (max-width: 500px){
    .bg.mainBanner.center {
        height: 290px!important;
    }
  
}
@media  (min-width: 350px) and (max-width: 400px){
    .bg.mainBanner.center {
        height: 230px!important;
    }
  
}
@media (max-width: 334px){
    .info{
        font-size: 1.3rem;
    }
     .bg-today .info{
        padding-top: 0px;
    }
    .info h2{
        margin-bottom: 5px;
    }
    #booking.bg.bg-today{
        height: 150px;
    }
}
@media (min-width: 648px){
     .info p{
        font-size: 0.8em;
    }
    .info{
        font-size: 1.7rem;
    }
    .bg-bldg{   
        height: 205px;
    }
}
@media (min-width: 1100px){
    .info {
        font-size: 2.5rem;
        padding-top: 50px;
    }
    .bg-venue {
        height: 570px;
    }
    .bg.bg-class{
        height:200px;
    }
}
@media (min-width: 546px) and (max-width: 775px){
    .bg-venue{
        background-size: cover!important;
    }
}
@media (max-width: 767px) {
    .bg.testimonial .row{
        align-items: flex-end;
    }
    .t1{
        background-image: url(../images/mobt1.png)!important;
    }
    .t2{
        background-image: url(../images/mobt2.png)!important;
    }
    .t3{
        background-image: url(../images/mob_t3a.png)!important;
    }
    .t4{
        background-image: url(../images/mob_t4b.png)!important;
    }
    .t5{
        background-image: url(../images/mob_t5.png)!important;
    }
    .t6{
        background-image: url(../images/mob_t6a.png)!important;
    }
    .t7{
        background-image: url(../images/mob_t7a.jpg)!important;
    }
    .t8{
        background-image: url(../images/mob_t8.png)!important;
    }
     .t9{
        background-image: url(../images/mob_t7a.jpg)!important;
    }
    .t10{
        background-image: url(../images/mob_t10.png)!important;
    }
    .t11{
        background-image: url(../images/mob_t11a.jpg)!important;
    }
    .bg.bg-testimonial {
         background-size: contain!important;
         background-position: center 100%!important;
    }
     table.contact-info tr {
         border: none; 
         box-shadow: none; 
    }
    table.contact-info td{
         text-align: left;
         padding-bottom: 0;
    }
     table.contact-info td img{
         width:20px
    }
     .bg-bldg{
        height:465px;
    }
    .bg-class{
        height:110px;
        background-size: cover;
    }
    .trainer {
        height: 355px;
        display: flex;
        flex-direction: column;
    }
    .trainer img {
        max-height: 250px;
        width: auto;
    }
    .section{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .tgap-l{
        padding-top: 40px;
    }
    .bgap-l{
        padding-bottom: 40px;
    }
    h2{
        font-size: 4em;
        margin-bottom: 0;
    }
     .desktop-only{
     display: none;   
    }
    .hideonmobile, .bg.bg-testimonial button.slick-arrow{
        display: none!important;
    }
    *, html {
        font-size: 14px;
    }
    .slider-parent{
      padding-left: 0;
      padding-right: 0;
    }
    .bg-venue{
        height: 350px;
    }
   .bg-class {
        height: 85px;
    }
    .bg-bldg {
        height: 155px;        
    }
    div.preset{
        overflow: auto;
        max-width: 100%;
    }
    .trainer{
        border-bottom: 2px solid #b9cd33;
    }
    #trainers .col-sm-12{
        border-right: none!important;
    }
    #booking{
        height: 330px;
    }
    .mainBanner{
        height:460px!important;
    }
    .bg.center:not(.bg-testimonial){
        align-items: flex-start;
        margin-top: 30px;
    }
    .bg.bg-testimonial{
        align-items: center;
        margin-top: 0;
    }
     .bg-bldg{
        height: 220px;
        background-size: contain!important;
    }
}

@media (min-width: 768px){
    .section{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .font-light{
        font-weight: 100;
    }
    .t4{
        background-size: cover!important
    }
     .bg-bldg {
        background-size: cover!important;
        height: 235px;
    }
    .bg.bg-class{
        height:175px;
    }
   
    #booking{
        height: 550px;
    }
    .mobile-only{display: none;}
     .desktop-only{
        display: none;
    }
    #logo{
        height: 80px;
    }
    .bg{
       background-size: cover;
    }
    .bg-venue{
        height: 400px;
    }
     .bg.center:not(.bg-testimonial){
        align-items: flex-start;
        margin-top: 40px;
    }
}
@media (min-width: 846px){
    .bg-venue{
        height: 450px;
    }
    .bg-bldg {
        height: 260px;
    }
}
@media (max-width: 1280px){
    .bg.bg-testimonial{
        background-color: #85b24d;
    }
}
@media only screen and (min-width: 981px){
    
    .testimonial .row{
        /*align-items: center;*/
    }
    .info p{
        color: #b02840;
        font-size: 0.8em
    }
     .mainBanner, .main.slick-slider{
        background-size: cover!important;
    }
     .bg-bldg{
         background-size: contain!important;
        height:465px;
    }
   .bg-venue{
        height: 520px;
    }
    #logo {
        width: 100px;
    }
    header{
        height: auto;
    }
    header>div.container{
        padding-right: 30px;
        padding-left: 30px;
    }
    .hide-desktop{
        display: none;
    }
     .desktop-only{
     display: block;   
    }
    #booking{
        /*background-size: cover;*/
        height: 550px;
        padding-top: 0;
    }
}
@media(min-width: 1470px){
    .bg-venue {
        background-size: cover;
    }
}
@media (max-width:565px){
    #booking{
        height: auto;
    }
    .mainBanner{
        height:270px!important;
    }
    .testimonial-parent .slick-dots{
        display: none!important;
    }
    .info{
        font-size: 1.6rem!important;
    }
}
@media(min-width: 538px) and (max-width:765px){
     .bg-class {
        height: 170px;
    }
    .bg.bg-testimonial {
        height: 400px;
    }
    .testimonial-parent{
        height: 1000px;
    }
}
@media(min-width: 538px) and (max-width:740px){
    .t9 + img{
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(../images/testimonials/mobt1.jpg) no-repeat;
        width: 100%!important;
        max-height: 400px!important;
        padding-left: 80px;
    }
    .bg-class {
        height: 160px;
    }
}
@media(min-width: 1384){
    .mainBanner {
        height: 850px;
    }
    .bg.bg-testimonial {
        height: 410px;
         /*background-size: cover!important;*/
    }
    .testimonial-parent{
        height: 415px;
    }
    .testimonial img{
        max-height: 410px;
    }
    .testimonial .t4 + div img{
        max-height: 409px!important;
    }
    /*.testimonial-parent.slick-slider, .testimonial-parent.slick-slider .row{
        height: 410px;
    }*/
    .testimonial .row[class*=col-sm-]>*:last-child, .testimonial [class^=col-sm-]:last-child{
        display: flex;
        justify-content: flex-end;
    }
    .testimonial .row [class*=col-sm-]:not(:last-child) *{
        /*padding-left: 90px;*/
    }
}
@media (max-width:1383px){
    .testimonial-parent{
        height: 400px;
    }
}
@media (min-width:1384px) and (max-width:1409px){
}

@media(min-width: 1031px) and (max-width:1272px){
    .mainBanner {
        height: 750px;
    }
    .bg.bg-testimonial .description {
        font-size: 0.8em;
    }
    .bg-venue {
        height: 565px;
    }
    .bg.bg-testimonial{
        max-width: 48%;
        -webkit-flex-basis: 51%;
        flex-basis: 51%;
        padding-left: 30px;
        padding-right: 30px;
        height: 330px;
    }
}
@media(min-width: 880px) and (max-width:1030px){
    .bg.bg-testimonial{
        max-width: 48%;
        -webkit-flex-basis: 49%;
        flex-basis: 49%;
        padding-left: 20px;
        padding-right: 20px;
        height: 310px;
    }
}
@media(min-width: 1320px){
   .bg.bg-testimonial{
        max-width: 51%;
        -webkit-flex-basis: 51%;
        flex-basis: 51%;
        padding-left: 100px;
        padding-right: 100px;
    }
    .bg-venue {
        height: 660px;
    }
}
@media (min-width:1410px){
    .bg-venue {
        height: 765px;
    }
}
@media(min-width: 1375px) and (max-width:1385px){
     .bg.bg-testimonial{
        height: 312px;
        max-width: 54%;
        -webkit-flex-basis: 54%;
        flex-basis: 54%;
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media(min-width: 1270px) and (max-width:1377px){
     .bg.bg-testimonial{
        height: 352px;
        max-width: 44%;
        -webkit-flex-basis: 54%;
        flex-basis: 54%;
        padding-left: 80px;
        padding-right: 80px;
    }
    .bg-venue {
        height: 600px;
    }
    .bg.bg-class{
        height:250px;
    }
}
@media (min-width:945px) and (max-width:980px){
    .bg.bg-testimonial{
        max-width: 49%;
        -webkit-flex-basis: 49%;
        flex-basis: 49%;
        padding-left: 15px;
        padding-right: 15px;
        height: 320px;
    }
    .bg.bg-testimonial .description{
        font-size: 0.8em;
    }
    .testimonial-parent{
        height: 350px;
    }
    .testimonial img{
        max-height: 321px;
    }
}
@media(min-width:915px) and (max-width:944px){
      .bg.bg-testimonial{
        max-width: 46%;
        -webkit-flex-basis: 51%;
        flex-basis: 51%;
        padding-left: 10px;
        padding-right: 10px;
        height: 330px;
    }
    .bg.bg-testimonial .description {
        max-height: 155px;
    }
}
@media(min-width:880px) and (max-width:914px){
      .bg.bg-testimonial{
        max-width: 45%;
        padding-left: 5px;
        padding-right: 5px;
        height: 340px;
    }
    .testimonial img {
         max-height: 340px; 
    }
    .bg.bg-testimonial .description {
        max-height: 155px;
    }
}
@media(min-width:870px) and (max-width:879px){
      .bg.bg-testimonial{
        max-width: 40%;
        padding-left: 5px;
        padding-right: 5px;
        height: 370px;
    }
    .testimonial img {
         max-height: 370px; 
    }
    .bg.bg-testimonial .description {
        max-height: 155px;
    }
    .bg.bg-testimonial p:last-child {
        margin-top: 5px;
    }
}
@media(min-width: 810px) and (max-width:869px){
    .bg.bg-testimonial{
        max-width: 40%;
        padding-left: 2px;
        padding-right: 2px;
        height: 312px;
    }
    .bg.bg-testimonial h3.sub-heading {
        font-size: 3em;
    }
}
@media(min-width: 740px) and (max-width:809px){
    .bg.bg-testimonial{
        max-width: 35%;
        padding-left: 2px;
        padding-right: 2px;
        height: 312px;
    }
    .bg.bg-testimonial h3.sub-heading {
        font-size: 3em;
    }
}
@media (max-width: 739px){
    .testimonial img {
        max-height: 100%;
    }
    .testimonial-parent{
        height: auto;
    }
}
@media  (max-width:824px){
    .tab-tgap-l{
        margin-top: 50px;
    }
    .bg.bg-testimonial .description {
        font-size: 1.1em;
    }
    .testimonial .row[class*=col-sm-]>*:last-child, .testimonial [class^=col-sm-]:last-child,.bg-testimonial [class^=col-sm-offset-]:last-child{
        justify-content: flex-start;
    }
}
@media(min-width: 760px) and (max-width:1094px){
    .mainBanner {
        height: 550px;
    }
    #booking {
        height: 380px;
    }
    .bg.bg-testimonial .description{
        font-size: 0.8em;
    }
}
@media (min-width: 552px) and (max-width:691px){
    .mainBanner {
        height:380px!important;
    }
    .testimonial-parent{
            /*height: 880px;*/
    }
    #booking {
        height: 280px;
    }
    .bg-venue {
        height: 300px;
    }
    .bg-class {
        height: 120px;
    }
}
@media (max-width: 551px){
    .mainBanner.bg {
        height: 330px!important;
         background-size: contain;
    }
    .bg.bg-testimonial p{
        font-size: 1.1em;
        line-height: 1.3!important;
    }
    .bg.bg-testimonial .description{
        font-size: 1em;
    }
    .bg.bg-testimonial p:last-child{
        margin-top: 5px;
    }    
    .bg-bldg{
        height: 160px;
    }
    .bg-venue{
        height: 260px;
    }
    .bg.bg-testimonial{
        height: 450px;
        padding-top: 10px;
    }
    .testimonial img{
        max-height: 100%;
    }
    .mainBanner{
        height:450px!important;
        background-size: cover;
    }
    #booking.bg{
        height: 230px;
    }
}
@media (max-width: 480px){
    .bg.mainBanner.center {
        margin-top:50px;
    }
    .info {
        font-size: 1.3rem!important;
    }
    .info h2{
        font-size: 3em;
    }
    .info p{
        font-size: 0.7em;
    }
    #booking.bg-today.bg{
        background-size: contain;
        height: 220px
    }
    .bg-today .info {
        padding-top: 0px;
    }
     .bg-venue {
        background-size: cover;
        height: 200px;
    }
 }
 
 @media  (min-width:400px) and (max-width: 450px){
    #booking.bg-today.bg{
        background-size: contain;
        height: 200px
    }
 }
 @media (max-width: 400px){
      .bg-venue{
        height: 180px;
      }
     .bg-venue, .bg-class {
        background-size: contain;
    }
    .bg-class{
        height: 85px;
    }
   #booking.bg{
        height: 170px;
    }
 }
 @media (max-width: 349px){
     .bg-venue {
        height: 160px!important;
    }
    .main .bg.mainBanner.center {
        height: 215px!important;
    }
 }

@media (min-width:1600px){
    .bg-bldg, .bg.bg-class{
        background-size: cover!important;
    }
    .bg.bg-bldg{
        height: 495px;
    }
    .bg.bg-class {
        height: 350px;
    }
    .bg.bg-testimonial {
        height: 418px;
        background-size: contain!important;
        background-color: #85b24d;
    }
     .testimonial img{
        max-height: 418px;
    }
    .testimonial-parent{
        height: 435px;
    }
}
/* Today section */
@media (min-width:1450px) {
    .bg.bg-today {
           height: 700px!important;
    }
    .bg.bg-class{
        height:300px;
    }
}
@media (min-width:1371px) and (max-width: 1449px){
    .bg.bg-today {
           height: 620px!important;
    }
    .bg.bg-class{
        height:280px;
    }
}
@media (min-width:1291px) and (max-width: 1370px){
    .bg.bg-today {
           height: 580px!important;
    }
}
@media (min-width:1202px) and (max-width: 1290px){
    .bg.bg-today {
           height: 565px;
    }
}
@media (min-width:1073px) and (max-width: 1150px){
    #booking {
        height: 490px;
        padding-top: 0;
    }
}
@media (min-width:1026px) and (max-width: 1072px){
    #booking {
        height: 470px;
    }
}
@media (min-width:985px) and (max-width: 1025px){
    #booking {
        height: 450px;
    }
}
@media (min-width:925px) and (max-width: 984px){
    #booking {
        height: 430px;
    }
}
@media (max-width: 610px){
   #booking {
        height: 255px;
    }
}
/* Hover effect */
.trainer{
    position: relative;
    cursor: pointer;
}
.trainer .text {
    opacity:0;
    transition:all 0.5s linear;
    position:absolute;
    top:30%;
    left:0px;
    visibility:hidden;
    height:230px;
    overflow: auto;
    padding: 5px;
    width: 95%;
}
.trainer.active .text {
    opacity:1;
    visibility:visible;
}